#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(241, 238, 238, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

#bar-buttons {
    margin-bottom: 20px;
}

.card {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.card.invisible {
    display: none;
    pointer-events: all;
}

.categories {
    width: 70%;
}

.categories-title {
    margin-top: 20px;
}

#empty-list {
    margin-left: -10px;
    padding-left: 10px;
    border-color: #006BB4;
    background-color: #e6f0f8;
    border-left: 2px solid blue;
    height: auto;
}

#id-wishes-container {
    width: 70%;
    margin-top: 20px;
}

#idWish.visible {
    display: none;
}

.card .btn {
    display: none;
}

.card:hover .btn {
    display: block;
}

.card:hover+.visible {
    display: block;
}

.card {
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
}

#modal-search {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 70%;
    display: flex;
}

.modal-list-wish {
    position: fixed;
    background: white;
    border-radius: 10px;
    width: 30%;
    top: 10vh;
    left: 35%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 11;
    display: none;
}

.modal-list-wish.visible {
    display: block;
}

.search {
    position: relative;
}

.search input {
    text-indent: 30px;
}

.search .fa-search {
    position: absolute;
    top: 24px;
    left: 30px;
    font-size: 15px;
}

#title-empty {
    color: #006bb4;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes fade-slide-in {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0);
    }
}